body {
    background: #1abc9c;
    font-family: Tahoma, Arial, sans-serif;
    color: #fff;
}

a{
  color: #fff;
}

.article-info, .header-article{
  display: flex;
  justify-content: space-between;
}

.article-created-date{
  font-style: italic;
}


.archive, .header-article, .content {
width: 960px;
margin-left: auto;
margin-right: auto;
}


.header-article img {
display: block;
width: 318px;
width: 250px;
height: 80px;
}

.content input{
  height: 50px;
  width: 500px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.content textarea{
  height: 200px;
  width: 500px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}


.create-form{
  display: grid;
    justify-content: center;
}

.error{
  color: red;
  text-align: center;
  margin-top: 20px;
}
