<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ STATIC_URL }}/static/index.css">
    <title>Архив статей</title>
  </head>
  <body>
    <div class="header-article">
      <img src="{{ STATIC_URL }}static/1.jpg" />
      {% if request.user.is_authenticated %}
      <p>Привет, {{user.username}}!</p>
        <a href="article/new/"> <h3>Создать статью</h3> </a>
        <a href="exit/"> <h3>Выход</h3> </a>
      {% else %}
        <a href="registration/"> <h3>Регистрация</h3> </a>
        <a href="login/"> <h3>Авторизация</h3> </a>
      {% endif %}

    </div>
    <div class="archive">
      {% for post in posts %}
      <div class="one-post">
        <a href="article/{{ post.id }}/"><h2 class="post-title">{{ post.title }}</h2></a>
        <div class="article-info">
          <div class="article-author">{{ post.author.username }}</div>
          <div class="article-created-date">{{ post.created_date }}</div>
        </div>
        <p class="article-text">{{ post.get_excerpt }}</p>
      </div>
      {% endfor %}
    </div>
  </body>
</html>
