<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ STATIC_URL }}/static/index.css">
    <title>Django Public Blog - создать статью</title>
  </head>
  <body>
    <div class="header">
      <img src="{{ STATIC_URL }}/static/1.jpg" />
    </div>
    <div class="content">
      <h1>Написать статью</h1>
      <form class="create-form" method="POST">
        {% csrf_token %}
          <input type="text" name="title" placeholder="Название статьи" value="{{ form.title }}">
          <textarea name="text" placeholder="Текст статьи">{{ form.text }}</textarea>
          <input type="submit" value="Сохранить">
    </form>
    <div class="error">
        {{ form.errors }}
    </div>

    </div>
  </body>
</html>
